torch==2.4.0
transformers==4.43.3
scikit-learn==1.5.1
pandas==2.2.2
numpy==1.26.4
mlflow==2.15.1
dagshub==0.4.0
python-dotenv==1.0.1
llama-cpp-python==0.2.85
fastapi==0.111.1
uvicorn==0.30.3
gradio
sse-starlette
datasets
safetensors
huggingface_hub
joblib
pywhispercpp
python-multipart
