gradio==4.44.1
pydantic==2.10.6
gradio_client==1.3.0
torch
torchvision
torchaudio
transformers
mlflow
dagshub
python-dotenv
librosa
soundfile
--extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cpu
llama-cpp-python
scikit-learn
joblib
edge-tts
pandas
huggingface_hub<0.25.0
spaces
